##Demo 2 - List Operations

In this demo, you will learn about different operations performed on List Data type.

## Lists and its various implementation

In [ ]:
# Initializing list
lst=["zero",1,2,3,4,5,'six']
print('List: ',lst)

List:  ['zero', 1, 2, 3, 4, 5, 'six']

In [ ]:
# nested list
my_list = ["cat", [1,2,3], ['a','b','c']]
my_list

['cat', [1, 2, 3], ['a', 'b', 'c']]

In [ ]:
#Indexing in list
print('First item of list:',my_list[0])
print('Second item of list:',my_list[1])
print('Third item of list:',my_list[2])
print('Third item of list and second item of list inside it:',my_list[2][1])

First item of list: cat
Second item of list: [1, 2, 3]
Third item of list: ['a', 'b', 'c']
Third item of list and second item of list inside it: b

In [ ]:
# length of list
length_of_list=len(my_list) # len() is a built-in function can be used with any iterable
print('Length of a list:',length_of_list)

Length of a list: 3

In [ ]:
# Proper indexing
print('Element at index -%d:'%(length_of_list),my_list[-length_of_list]) # will print first element of list

print('Element at index %d:'%(length_of_list),my_list[length_of_list]) # Index out of range error because it is not a valid index

Element at index -3: cat

IndexError: ignored

In [ ]:
# Wilson wants to input his sales of the week in list
sales=map(int,input('Sales data(seperated by comma): ').split(','))
print('Map Object for above Sales of the week:',sales)

Sales data(seperated by comma): 23,2,4,555,43,200,60,333,346,778,2245,4678
Map Object for above Sales of the week: <map object at 0x7fb2357403d0>

In [ ]:
# Map return an iterable, so wilson will have to convert it to a list
sales=list(sales)
print('Sales of the week:',sales)

Sales of the week: [23, 2, 4, 555, 43, 200, 60, 333, 346, 778, 2245, 4678]

In [ ]:
# To just print the sales of first 5 days
print('Sales of first 5 days:',sales[:5])

# Apparently wilson made a mistake in entering data
index=sales.index(200)
sales.remove(200)
sales.insert(index,700)
print('Sales after correction: {}'.format(sales))

Sales of first 5 days: [23, 2, 4, 555, 43]
Sales after correction: [23, 2, 4, 555, 43, 700, 60, 333, 346, 778, 2245, 4678]

In [ ]:
# He wants to sort the sales in ascending order
sales.sort()
print('Sorted sales in ascending order:',sales)
# To print in reverse order, :: means nothing for first argument and second argument. 
# :: works as-> [start:stop(exclusive):step]
# Third parameter is required number of steps to take
print('Sorted sales in descending order:',sales[::-1])

Sorted sales in ascending order: [2, 4, 23, 43, 60, 333, 346, 555, 700, 778, 2245, 4678]
Sorted sales in descending order: [4678, 2245, 778, 700, 555, 346, 333, 60, 43, 23, 4, 2]

In [ ]:
# More about the ::
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print('Odd numbers:',numbers[::2])  # To print odd only
print('Even numbers:',numbers[1::2]) # To print even only

Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Now wilson wants to add data for second week to sales
second_week=[651,752,673,85,567,750]
sales.extend(second_week)
print('Sales in last two weeks:',sales)

# Well second_week does not have data for last day
last_day=int(input('Last day sales:'))
sales.append(last_day)
print('Sales in last two weeks(appended last day sales):',sales)

Sales in last two weeks: [2, 4, 23, 43, 60, 333, 346, 555, 700, 778, 2245, 4678, 651, 752, 673, 85, 567, 750]
Last day sales:34
Sales in last two weeks(appended last day sales): [2, 4, 23, 43, 60, 333, 346, 555, 700, 778, 2245, 4678, 651, 752, 673, 85, 567, 750, 34]

In [ ]:
# Total sales
print('Total sales:',sum(sales))

# Maximum Sales
print('Maximum Sales:',max(sales))
# Minimum Sales
print('Minimum Sales:',min(sales))

Total sales: 13279
Maximum Sales: 4678
Minimum Sales: 2

In [ ]:
# He no more needs the second_week data seperately
del second_week
print(second_week)  # it will throw error as second week list deleted in previous step
#Note: del will unbind the name 'second_week' from the list object. It will not delete the data appended to Sales

NameError: ignored

In [ ]:
# printing list the elegant way
print('Sales: ',end='') # 'end' argument appends a string after the last value, default is a newline.
print(*sales,sep='|')   # 'sep' argument inserts a string between multiple values

Sales: 2|4|23|43|60|333|346|555|700|778|2245|4678|651|752|673|85|567|750|34

In [ ]:
# pop() and remove()
list1=[10,20,30,40,50]
list1.pop() # It pops the last element and returns
list1.pop(2) # It pops the element at index 2 and returns
list1.remove(40) # it removes the value 40

In [ ]:
list1

[10, 20]

In [ ]:
list1.remove(60)    # It will remove the value/entry as 60 if present in list1

ValueError: ignored

In [ ]:
# Extend vs Append in list

list1=[10,20,30,40]
list2=[50,60]
list3=[70,80]
list1.extend(list2) # It adds two elements at two separate index positions
list1
list1.append(list3) # It appends list3 as a single element.
list1

[10, 20, 30, 40, 50, 60, [70, 80]]

In [ ]:
# sorted vs sort
list1=[30,10,50,40]
print(sorted(list1))  # It will sort list1 and print but originally the list will not be modified
print(list1)
list2=[5,40,2,30]
list2.sort()   # It actually sorts i.e. modifies the list
print(list2)

[10, 30, 40, 50]
[30, 10, 50, 40]
[2, 5, 30, 40]

## Is it possible to remember all the methods of list?  It is not easy. Then can we list out all the methods supported in a list? Yes, you can.

In [ ]:
for i in dir(list1):
    print(i)

__add__
__class__
__contains__
__delattr__
__delitem__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__gt__
__hash__
__iadd__
__imul__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__reversed__
__rmul__
__setattr__
__setitem__
__sizeof__
__str__
__subclasshook__
append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

## How to check documentation of any API?

In [ ]:
print(list1.insert.__doc__)

Insert object before index.

## List Comprehension

In [ ]:
## List Comprehension

a=[1,2,3,4]
b=[i**2 for i in a]
print(b)

[1, 4, 9, 16]

In [ ]:
c=[i**2 for i in a if i<3]
print(c)

[1, 4]

In [ ]:
#print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

list1=[12,24,35,24,88,120,155]
list2=[list1[i] for i in range(0,len(list1)) if i not in [0,4,5]]
print(list2)

[24, 35, 24, 155]