In [2]:
print("Hello in the world of Python")

Hello in the world of Python

In [4]:
#This is a single line comment
""" 
This is 
a
multiline comment
"""

' \nThis is \na\nmultiline comment\n'

In [6]:
#Variables/Identifiers
age=25
print(age)
age=36
print(age)

25
36

In [9]:
#Identifiers rules
#1.Python is case sensetive   age,Age
#2.cant not stat with a number
#3.only _ can be used
age1=35
age2=36
#3age=50
Total_amount=5000
def MyFunc():

SyntaxError: invalid syntax (1568875142.py, line 8)

In [ ]:
#Data Types
#Numerical: int,float,complex
#AlphaNumerical: string
#Collection Datatypes/Sequences: list,tuple,set,Dict

In [12]:
#Numerial Datatypes
total_count=452
print(type(total_count))
roi=14.99
print(type(roi))
comp=10+15j
print(type(comp))

<class 'int'>
<class 'float'>
<class 'complex'>

In [17]:
#Dynamic Typing
#int age=25; static Typing
var=45
print(type(var))
var=14.36
print(type(var))
var="Amit"
print(type(var))
var=[10,20,30,40,50]
print(type(var))
print(var)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
[10, 20, 30, 40, 50]

In [28]:
#Airthmetic Operators  +,-,/,*
print(45+96)
a=100
b=200
print(a+b)
print(10/2)  #Returns a float value
print(10//3) #Floor Division
print(10%3)  #Modulo(remainder)
print(10*6)
print(24**5) #power opr

141
300
5.0
3
1
60
7962624

In [29]:
print(round(10/3,2))

3.33

In [32]:
#Assignment Operators: =,+=,-=
var=23
#var1=var2
var+=100 #var=var+100
print(var)
var-=50  #var=var-50
print(var)

123
73

In [39]:
#Relational/Comparision Opr: >,<,==,!=,>=,<=
a=45
b=63
print(a<b)
print(a>b)
print(a!=b)
print(a>=b)

True
False
True
False

In [44]:
#Logical Opr: and,or,not
age=45
print(age==18 and age<=40)
print(age>18 or age<=40)
print(not age<=40)

False
True
True

In [45]:
a=23 
print(a>18)

True

In [48]:
#Input from user
#age=input("Enter your age")
age=int(input("Enter your age"))
print("your age is:",age)
print(type(age))

Enter your age 56

your age is: 56
<class 'int'>

In [50]:
#Type conversion/Type casting
var=23.54
print(type(var))
var1=int(var)
print(type(var1))

#int(),float(),str(),list()

<class 'float'>
<class 'int'>

In [51]:
print(int('abc'))

ValueError: invalid literal for int() with base 10: 'abc'

In [52]:
name="Ajitabh"
print(list(name))

['A', 'j', 'i', 't', 'a', 'b', 'h']

In [53]:
print(float(45))

45.0

In [ ]:
if a>18:
    print(...)
else:
    print(...)

In [55]:
print(eval('45+36-10'))

SyntaxError: invalid decimal literal (<string>, line 1)

In [56]:
num_1 = eval(input("enter 1st num"))
num_2 = eval(input("enter 2nd num"))
c = num_1 * num_2
result = print(c)

enter 1st num 56
enter 2nd num 36

2016

In [57]:
print((23>18) == True)

True