In [ ]:
"""
Sequences/Collection Data types
1.List[]:ordered,Mutable,allow duplicates
2.Tuple():ordered,Immutable,allow duplicates
3.Set{}:unordered,Mutable,DONT ALLOW DUPLICATES
4.Dict{key:value}:Key-values

Ordered/Unordered(index)
Mutable/Immutable(Changes)
Allow duplicates or not
"""

In [3]:
#Lists in Python
#lst=[10,20,30,40,50]
lst=[1001,'John',50000,['proj1','proj2'],4.6]
print(lst)
print(type(lst))

[1001, 'John', 50000, ['proj1', 'proj2'], 4.6]
<class 'list'>

In [8]:
#Ordered(index)
lst=[1001,'John',50000,['proj1','proj2'],4.6]
print(lst[2])

#Mutable(Changable)
lst[2]=60000
print(lst)

#Allow Duplicates
lst=[10,10,20,20,30]
print(lst)

50000
[1001, 'John', 60000, ['proj1', 'proj2'], 4.6]
[10, 10, 20, 20, 30]

In [10]:
#Length of the list
lst=[1001,'John',50000,['proj1','proj2'],4.6]
print(len(lst))

5

In [14]:
#Adding new element
#append(),extend(),insert()
lst=[45,63,89,75,62,32,47]
lst.append(100)  #one value at a time at the end of list
print(lst)

lst.extend([100,200,300])  #Multiple values at the end of list
print(lst)

lst.insert(2,1000)  #(index,new_value)
print(lst)

[45, 63, 89, 75, 62, 32, 47, 100]
[45, 63, 89, 75, 62, 32, 47, 100, 100, 200, 300]
[45, 63, 1000, 89, 75, 62, 32, 47, 100, 100, 200, 300]

In [23]:
lst=[45,63,89,75,62,32,47,45,63]
print(lst.index(63)) #First Occurance

1

In [27]:
#Delete item from from the list
#pop(),remove()
lst=[45,63,89,75,62,32,47,45,63]
#lst.pop()
#x=lst.pop(2)
x=lst.pop(lst.index(89))
print(lst)
print("Element popped off:",x)

[45, 63, 75, 62, 32, 47, 45, 63]
Element popped off: 89

In [28]:
lst=[45,63,89,75,62,32,47,45,63]
lst.remove(45)   #First occurance
print(lst)

[63, 89, 75, 62, 32, 47, 45, 63]

In [29]:
lst=[45,63,89,75,62,32,47,45,63]
for i in lst:
    if i==45:
        lst.remove(45)

print(lst)

[63, 89, 75, 62, 32, 47, 63]

In [3]:
lst = [45,1000,63,89,75,62,32,47,100,100,200,300]
for i in lst:
    if i==100:
        lst.remove(i)
        
print(lst)

[45, 1000, 63, 89, 75, 62, 32, 47, 100, 200, 300]

In [4]:
lst=set(lst)
print(lst)

{32, 100, 1000, 200, 75, 300, 45, 47, 89, 62, 63}

In [6]:
#Sorting of elements
#Sort(),Sorted()
lst=[45,63,98,25,12,78,93]
lst.sort()
print(lst)
print(lst[::-1])

[12, 25, 45, 63, 78, 93, 98]
[98, 93, 78, 63, 45, 25, 12]

In [11]:
lst=[45,63,98,25,12,78,93]
print((sorted(lst)))
print(lst)

[12, 25, 45, 63, 78, 93, 98]
[45, 63, 98, 25, 12, 78, 93]

In [14]:
#Aggregate Functions
sales=[4500,6300,8920,7530,4610]
print("Total Sales:",sum(sales))
print("Max sales last week:",max(sales))
print("Max sales last week:",min(sales))

Total Sales: 31860
Max sales last week: 8920
Max sales last week: 4500

In [17]:
#Membership operators: in and not in

lst=[45,63,98,25,12,78,93]
print(98 in lst)
print(100 in lst)
print(98 not in lst)

True
False
False

In [21]:
#List Comprehensions
lst=[7,8,6,9,7,3,5,10]
new_lst=[x**2 for x in lst]
print(new_lst)

new_lst1=[x for x in lst if x>7]
new_lst1=[x for x in lst if x%2==0]
print(new_lst1)

[49, 64, 36, 81, 49, 9, 25, 100]
[8, 6, 10]

In [ ]:
for i in lst:
    new_lst.append(i**2)

In [24]:
lst=[[10,20,30],[40,50,60]]
print(lst[0])
print(lst[0][2])
print(lst[1][1])

[10, 20, 30]
30
50

In [25]:
lst=[7,8,6,9,7,3,5,10]
lst.insert(-1,2000)
print(lst)

[7, 8, 6, 9, 7, 3, 5, 2000, 10]

In [26]:
#Repetions
lst=[10,20,30]
print(lst*3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [31]:
#Tuple in python
tup=(45,63,98,78,36,63,78)
print(tup)
print(type(tup))
print(tup[3])

#immutable
tup[3]=100

(45, 63, 98, 78, 36, 63, 78)
<class 'tuple'>
78

TypeError: 'tuple' object does not support item assignment

In [33]:
tup=(10,20,30,40,50)
lst=list(tup)
print(lst)
lst[1]=200
tup=tuple(lst)
print(tup)

[10, 20, 30, 40, 50]
(10, 200, 30, 40, 50)

In [36]:
#Can tuple be mutable ?
tup=([10,20],[30,40])
tup[0][1]=200
print(tup)
#Can a list be immutable ?
lst=[(10,20),(30,40)]
lst[0][1]=200

([10, 200], [30, 40])

TypeError: 'tuple' object does not support item assignment

In [35]:
tup=(10,20,20,30,30,30,40,40,50)
print(tup.count(30))  #Frequncy of an item

3

In [37]:
tup=(10, 20, 30, 40, 50)
lst=list(tup)
print(lst)

[10, 20, 30, 40, 50]

In [41]:
#Sets in python (do not allows duplicates)
set={15,63,98,75,32,32,98,15,63,85,'abc','abc'}
print(set)
#print(set[0]) 'set' object is not subscriptable

{32, 98, 'abc', 85, 75, 63, 15}

In [42]:
# set difference
set_a={0,8,6,3,2,1,4,6,4,8,0,1}
set_b={4,324,25,25,23,51,3}
print('Elements in A but not in B',set_a-set_b)
print('Elements in B but not in A',set_b-set_a)

Elements in A but not in B {0, 1, 2, 6, 8}
Elements in B but not in A {25, 51, 324, 23}
Union of sets A and B: {0, 1, 2, 3, 4, 324, 6, 8, 51, 23, 25}
Intersection of A and B {3, 4}

In [43]:
# Union and Intersection
print('Union of sets A and B:',set_a.union(set_b))
print('Intersection of A and B',set_a.intersection(set_b))

Union of sets A and B: {0, 1, 2, 3, 4, 324, 6, 8, 51, 23, 25}
Intersection of A and B {3, 4}

In [47]:
#Insert(add) and update(add multiple)
set={0,2,3,4,5,6,7,8,9}
set.add(1)
print(set)

set.update([50,1,2,6])
print(set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50}

In [50]:
#Dictionaries in Python
#{key:value}
emp_data={'id':1001,'name':'Ramesh','Salary':50000,'project':['proj1','proj2'],100:'abc'}
print(type(emp_data))
print(emp_data['Salary'])

<class 'dict'>
50000

In [51]:
#Updation in Dict
emp_data['Salary']=60000
print(emp_data)

{'id': 1001, 'name': 'Ramesh', 'Salary': 60000, 'project': ['proj1', 'proj2'], 100: 'abc'}

In [52]:
dc={'name':'Rakesh','class':'A','Category':'A','name':'Tarun'}
print(dc)

{'name': 'Tarun', 'class': 'A', 'Category': 'A'}

In [1]:
lst=[45,63,89,75,62,32,47,45,63]
new_lst=set(lst)
print(new_lst)

{32, 75, 45, 47, 89, 62, 63}

In [3]:
#Adding a new key value pair
emp_data={'id':1001,'name':'Ramesh','Salary':50000,'project':['proj1','proj2'],100:'abc'}
emp_data['Salary']=60000
print(emp_data)

emp_data['City']='Mumbai'
print(emp_data)

{'id': 1001, 'name': 'Ramesh', 'Salary': 60000, 'project': ['proj1', 'proj2'], 100: 'abc'}
{'id': 1001, 'name': 'Ramesh', 'Salary': 60000, 'project': ['proj1', 'proj2'], 100: 'abc', 'City': 'Mumbai'}

In [7]:
#Remove key value pair
emp_data.pop('project')
print(emp_data)

KeyError: 'project'

In [8]:
emp_data.pop(100)

'abc'

In [9]:
keys=emp_data.keys()
print(keys)
print(emp_data.values())

dict_keys(['id', 'name', 'Salary', 'City'])
dict_values([1001, 'Ramesh', 60000, 'Mumbai'])

In [13]:
#fromkeys()
team=dict.fromkeys(keys)
print(team)
team['id']=[1001,1002,1003]
print(team)
team['name']=emp_data['name']
print(team)

{'id': None, 'name': None, 'Salary': None, 'City': None}
{'id': [1001, 1002, 1003], 'name': None, 'Salary': None, 'City': None}
{'id': [1001, 1002, 1003], 'name': 'Ramesh', 'Salary': None, 'City': None}

In [17]:
for i in emp_data:
    print(f"Key:{i},values:{emp_data[i]}")

Key:id,values:1001
Key:name,values:Ramesh
Key:Salary,values:60000
Key:City,values:Mumbai

In [14]:
#Delete sequences
lst=[10,20,30]
del lst
print(lst)

NameError: name 'lst' is not defined

In [20]:
print(round((1.1+2.2),1)==3.3)

True