##Demo 3 - Tuple Operations

In this demo, you will learn about different operations performed on Tuple Data type.

## Tuples and its various operations

In [ ]:
# Example 1
tuple1=(10,20,30,40)
for i in tuple1:
    print(i)

10
20
30
40

In [ ]:
# Example 2
list1=[10,20,30,40]
tuple2=tuple(list1)
tuple2

(10, 20, 30, 40)

In [ ]:
# Example 3
# List is mutable but tuple is immutable
list1=[10,20,30,40]
list1[2]=50
print(list1)
tuple1=(10,20,30,40)
tuple1[2]=30  # Observe that even though we put the same vale, it throws an error because tuple object doesn't support item assignment
print(tuple1)

[10, 20, 50, 40]

TypeError: ignored

## Can a list be immutable?

In [ ]:
# When you create a list of only tuples then the list becomes immutable
list_1=[(10,20),(30,40)]   
list_1[0][1]=100
print(list_1)

TypeError: ignored

## Can a tuple be mutable?

In [ ]:
# When you create a tuple of lists, it becomes mutable due to mutable nature of list.
tuple_1=([10,20],[30,40])
tuple_1[1][1]=50
tuple_1

([10, 20], [30, 50])

## Basic operations in a tuple

In [ ]:
tuple_2=(10,20,30,40)
print(len(tuple_2))
print(max(tuple_2))
print(min(tuple_2))
print(sorted(tuple_2))
print(tuple_2[::-1])
print(tuple_2[1:7])
print(tuple_2*2)
print(20 in tuple_2)

4
40
10
[10, 20, 30, 40]
(40, 30, 20, 10)
(20, 30, 40)
(10, 20, 30, 40, 10, 20, 30, 40)
True

In [ ]:
# As it is a tuple of lists, we can delete element.
tuple_3=([10,20],[30,40])
del(tuple_3[1][1])
print(tuple_3)
list_3=list(tuple_3)  # Converting the tuple to a list
print(list_3)

([10, 20], [30])
[[10, 20], [30]]

In [ ]:
# Count the number of occurences and printing index

tuple_new=(10,20,20,30,40)
print(tuple_new.count(20))
print(tuple_new.index(20))   # It will print the index of the 1st occurence of that element

2
1

##  Example with respect to usage of id() on lists and tuples

In [ ]:
# Check all the ids are different
list1=[1,2,3]
tup1=tuple(list1)
list2=id(tup1)
print(id(tup1))
print(id(list1))
print(id(list2))

139899190565136
139899137223568
139899137286800