In [1]:
import mysql.connector

In [ ]:
pip install mysql.connector.python

In [2]:
#Step1:Connect with DB server
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)
print(type(mydb))

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019D89120CB0>
<class 'mysql.connector.connection_cext.CMySQLConnection'>

In [3]:
#Create Database
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE Feb24")

In [ ]:
#Check for exsisting DB
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

In [4]:
#you can try to access the database when making the connection:
import mysql.connector 

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="Feb24"
)

In [5]:
#Create Table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="Feb24"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [6]:
#insert into table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="Feb24"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Amit", "Portland 50")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [ ]:
#insert into table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="OCT23"
)

mycursor = mydb.cursor()

name=input("Enter your name:")
address=input("Enter your address:")
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = (name,address)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [7]:
#Inserting Multiple Rows

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="Feb24"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

12 was inserted.

In [8]:
#Select all from table
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="Feb24"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

print(myresult)

[('Amit', 'Portland 50'), ('Peter', 'Lowstreet 4'), ('Amy', 'Apple st 652'), ('Hannah', 'Mountain 21'), ('Michael', 'Valley 345'), ('Sandy', 'Ocean blvd 2'), ('Betty', 'Green Grass 1'), ('Richard', 'Sky st 331'), ('Susan', 'One way 98'), ('Vicky', 'Yellow Garden 2'), ('Ben', 'Park Lane 38'), ('William', 'Central st 954'), ('Chuck', 'Main Road 989')]

In [ ]:
#select specific column
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="oct23"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
     print(x)

In [ ]:
#select only first row of the result
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="DSML79"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

In [ ]:
#update rows
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="oct23"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Pune' WHERE name='Ajitabh'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

In [ ]:
#Delete rows
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="oct23"
)

mycursor = mydb.cursor()

sql = "delete from customers WHERE name='Ajitabh'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

In [ ]:
name char(20)  Fixed length
name varchar(20) variable length