In [1]:
import mysql.connector

In [2]:
#Step1:Connect with DB server
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password123"
)

print(mydb)
print(type(mydb))

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024CAAF952D0>
<class 'mysql.connector.connection_cext.CMySQLConnection'>

In [3]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE retails")

In [4]:
#Check for exsisting DB
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('retails',)
('sakila',)
('sys',)
('world',)

In [5]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="password123",
  database="retails"
)

In [7]:
mycursor = mydb.cursor()

cc_ddl = '''
  CREATE TABLE `retails`.`customers` (
  `customer_id` INT NOT NULL AUTO_INCREMENT,
  `age` INT NULL,
  `location` VARCHAR(45) NULL,
  `gender` VARCHAR(45) NULL,
  PRIMARY KEY (`customer_id`))
'''

mycursor.execute(cc_ddl)

In [11]:
sql = "INSERT INTO customers (age, location, gender) VALUES (%s, %s, %s)"
val = [
    (34, "Austin", "male"),
    (37, 'Houston', 'male'),
    (25, 'Austin', 'female'),
    (28, 'Houston', 'female'),
    (22, 'Dallas', 'male')
]

mycursor.executemany(sql, val)

mydb.commit()

In [12]:
sql = "SELECT * FROM retails.customers where location = 'Austin'"
mycursor.execute(sql)

myresult = mycursor.fetchall()

print(myresult)

[(1, 34, 'Austin', 'male'), (3, 25, 'Austin', 'female')]

In [13]:
sql = "SELECT count(customer_id), location FROM retails.customers group by location"
mycursor.execute(sql)

myresult = mycursor.fetchall()

print(myresult)

[(2, 'Austin'), (2, 'Houston'), (1, 'Dallas')]

In [14]:
sql = "SELECT count(customer_id), gender FROM retails.customers group by gender"
mycursor.execute(sql)

myresult = mycursor.fetchall()

print(myresult)

[(3, 'male'), (2, 'female')]