In [ ]:
#Joining,GroupBy,Pivot

In [3]:
#Joining: Concatenation,SQL Join:Inner,Outer
import pandas as pd
Df1 = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
Df2 = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})

print(Df1)
print(Df2)

Df_master=pd.concat([Df1,Df2])

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5
   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
0   1   Billy       sub2
1   2   Brian       sub4
2   3    Bran       sub3
3   4   Bryce       sub6
4   5   Betty       sub5

In [4]:
print(Df_master)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
0   1   Billy       sub2
1   2   Brian       sub4
2   3    Bran       sub3
3   4   Bryce       sub6
4   5   Betty       sub5

In [6]:
#Merge(SQL Join):Inner,Outer:Full outer Join,Left outer and Right outer join
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right= pd.DataFrame(
   {'id':[1,2,3,4,6],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})

print(pd.merge(left,right,on='id'))  #Inner Join

   id Name_x subject_id_x Name_y subject_id_y
0   1   Alex         sub1  Billy         sub2
1   2    Amy         sub2  Brian         sub4
2   3  Allen         sub4   Bran         sub3
3   4  Alice         sub6  Bryce         sub6

In [7]:
print(pd.merge(left,right,on=['id','subject_id']))

   id Name_x subject_id Name_y
0   4  Alice       sub6  Bryce

In [8]:
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right= pd.DataFrame(
   {'id':[1,2,3,4,6],
   'Student_Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})

print(pd.merge(left,right,on='id'))  #Inner Join

   id   Name subject_id_x Student_Name subject_id_y
0   1   Alex         sub1        Billy         sub2
1   2    Amy         sub2        Brian         sub4
2   3  Allen         sub4         Bran         sub3
3   4  Alice         sub6        Bryce         sub6

In [9]:
print(pd.merge(left,right,on='id',how='inner'))

   id   Name subject_id_x Student_Name subject_id_y
0   1   Alex         sub1        Billy         sub2
1   2    Amy         sub2        Brian         sub4
2   3  Allen         sub4         Bran         sub3
3   4  Alice         sub6        Bryce         sub6

In [11]:
print(left)
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id Student_Name subject_id
0   1        Billy       sub2
1   2        Brian       sub4
2   3         Bran       sub3
3   4        Bryce       sub6
4   6        Betty       sub5

In [10]:
#Full Outer Join
print(pd.merge(left,right,on='id',how='outer'))

   id    Name subject_id_x Student_Name subject_id_y
0   1    Alex         sub1        Billy         sub2
1   2     Amy         sub2        Brian         sub4
2   3   Allen         sub4         Bran         sub3
3   4   Alice         sub6        Bryce         sub6
4   5  Ayoung         sub5          NaN          NaN
5   6     NaN          NaN        Betty         sub5

In [12]:
#Right-outer
print(pd.merge(left,right,on='id',how='right'))

   id   Name subject_id_x Student_Name subject_id_y
0   1   Alex         sub1        Billy         sub2
1   2    Amy         sub2        Brian         sub4
2   3  Allen         sub4         Bran         sub3
3   4  Alice         sub6        Bryce         sub6
4   6    NaN          NaN        Betty         sub5

In [13]:
#Left-outer
print(pd.merge(left,right,on='id',how='left'))

   id    Name subject_id_x Student_Name subject_id_y
0   1    Alex         sub1        Billy         sub2
1   2     Amy         sub2        Brian         sub4
2   3   Allen         sub4         Bran         sub3
3   4   Alice         sub6        Bryce         sub6
4   5  Ayoung         sub5          NaN          NaN

In [14]:
#Aggregation: Groupby(),Pivot()
#Pandas GroupBy
import pandas as pd
df = pd.read_csv("legislators-historical.csv", parse_dates=["birthday"])
print(df.head())

  last_name  first_name middle_name suffix nickname full_name   birthday  \
0   Bassett     Richard         NaN    NaN      NaN       NaN 1745-04-02
1     Bland  Theodorick         NaN    NaN      NaN       NaN 1742-03-21
2     Burke     Aedanus         NaN    NaN      NaN       NaN 1743-06-16
3   Carroll      Daniel         NaN    NaN      NaN       NaN 1730-07-22
4    Clymer      George         NaN    NaN      NaN       NaN 1739-03-16

  gender type state  ...  opensecrets_id  lis_id fec_ids cspan_id govtrack_id  \
0      M  sen    DE  ...             NaN     NaN     NaN      NaN      401222
1      M  rep    VA  ...             NaN     NaN     NaN      NaN      401521
2      M  rep    SC  ...             NaN     NaN     NaN      NaN      402032
3      M  rep    MD  ...             NaN     NaN     NaN      NaN      402334
4      M  rep    PA  ...             NaN     NaN     NaN      NaN      402671

  votesmart_id ballotpedia_id washington_post_id  icpsr_id  \
0          NaN            NaN                NaN     507.0
1          NaN            NaN                NaN     786.0
2          NaN            NaN                NaN    1260.0
3          NaN            NaN                NaN    1538.0
4          NaN            NaN                NaN    1859.0

                     wikipedia_id
0    Richard Bassett (politician)
1  Theodorick Bland (congressman)
2                   Aedanus Burke
3                  Daniel Carroll
4                   George Clymer

[5 rows x 34 columns]

In [16]:
n_state=df.groupby('state')['last_name'].count()
print(n_state)

state
AK      16
AL     206
AR     117
AS       2
AZ      48
CA     361
CO      90
CT     240
DC       2
DE      97
DK       9
FL     155
GA     309
GU       4
HI      23
IA     202
ID      59
IL     486
IN     341
KS     141
KY     373
LA     197
MA     426
MD     305
ME     175
MI     294
MN     160
MO     333
MS     155
MT      52
NC     354
ND      44
NE     127
NH     181
NJ     359
NM      54
NV      56
NY    1461
OH     674
OK      92
OL       2
OR      89
PA    1053
PI      13
PR      19
RI     107
SC     251
SD      51
TN     299
TX     256
UT      53
VA     432
VI       4
VT     115
WA      95
WI     196
WV     120
WY      40
Name: last_name, dtype: int64

In [17]:
n_state=df.groupby(['state','gender'])['last_name'].count()
print(n_state)

state  gender
AK     M          16
AL     F           3
       M         203
AR     F           5
       M         112
                ...
WI     M         196
WV     F           1
       M         119
WY     F           2
       M          38
Name: last_name, Length: 104, dtype: int64

In [2]:
#Pivoting
import numpy as np
import pandas as pd
df = pd.read_csv('E:\\Resolve6_Training\\DS_ML\\Sample Data Sets\\titanic\\train.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
#single index
table = pd.pivot_table(data=df,index=['Sex'])  #Table Object
print(table)
#print(type(table))

TypeError: agg function failed [how->mean,dtype->object]

In [20]:
table = pd.pivot_table(data=df, index=['Sex'])
print(table)

TypeError: agg function failed [how->mean,dtype->object]

In [4]:
print(df.pivot(index='Sex', columns='Sex'))

ValueError: The name Sex occurs multiple times, use a level number

In [7]:
#different aggregate functions
table = pd.pivot_table(df,index=['Sex'],aggfunc={'Age':np.mean,'Survived':np.sum})
print(table)
#print(type(table))

              Age  Survived
Sex
female  27.915709       233
male    30.726645       109

C:\Users\Dell\AppData\Local\Temp\ipykernel_11288\713531086.py:2: FutureWarning: The provided callable <function mean at 0x00000165E7F2DE40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  table = pd.pivot_table(df,index=['Sex'],aggfunc={'Age':np.mean,'Survived':np.sum})
C:\Users\Dell\AppData\Local\Temp\ipykernel_11288\713531086.py:2: FutureWarning: The provided callable <function sum at 0x00000165E7F2CD60> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  table = pd.pivot_table(df,index=['Sex'],aggfunc={'Age':np.mean,'Survived':np.sum})

In [8]:
table = pd.pivot_table(df,index=['Sex'],columns=['Pclass'],values=['Survived'],aggfunc=np.sum)
print(table)

       Survived
Pclass        1   2   3
Sex
female       91  70  72
male         45  17  47

C:\Users\Dell\AppData\Local\Temp\ipykernel_11288\1679089416.py:1: FutureWarning: The provided callable <function sum at 0x00000165E7F2CD60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  table = pd.pivot_table(df,index=['Sex'],columns=['Pclass'],values=['Survived'],aggfunc=np.sum)

In [9]:
#display null values
table = pd.pivot_table(df,index=['Sex','Survived','Pclass'],columns=['Embarked'],values=['Age'],aggfunc=np.mean)
print(table)

                              Age
Embarked                        C          Q          S
Sex    Survived Pclass
female 0        1       50.000000        NaN  13.500000
                2             NaN        NaN  36.000000
                3       20.700000  28.100000  23.688889
       1        1       35.675676  33.000000  33.619048
                2       19.142857  30.000000  29.091667
                3       11.045455  17.600000  22.548387
male   0        1       43.050000  44.000000  45.362500
                2       29.500000  57.000000  33.414474
                3       27.555556  28.076923  27.168478
       1        1       36.437500        NaN  36.121667
                2        1.000000        NaN  17.095000
                3       18.488571  29.000000  22.933333

C:\Users\Dell\AppData\Local\Temp\ipykernel_11288\304744445.py:2: FutureWarning: The provided callable <function mean at 0x00000165E7F2DE40> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  table = pd.pivot_table(df,index=['Sex','Survived','Pclass'],columns=['Embarked'],values=['Age'],aggfunc=np.mean)

In [10]:
table = pd.pivot_table(df,index=['Sex','Survived','Pclass'],columns=['Embarked'],values=['Age'],aggfunc=np.mean,fill_value=np.mean(df['Age']))
print(table)

                              Age
Embarked                        C          Q          S
Sex    Survived Pclass
female 0        1       50.000000  29.699118  13.500000
                2       29.699118  29.699118  36.000000
                3       20.700000  28.100000  23.688889
       1        1       35.675676  33.000000  33.619048
                2       19.142857  30.000000  29.091667
                3       11.045455  17.600000  22.548387
male   0        1       43.050000  44.000000  45.362500
                2       29.500000  57.000000  33.414474
                3       27.555556  28.076923  27.168478
       1        1       36.437500  29.699118  36.121667
                2        1.000000  29.699118  17.095000
                3       18.488571  29.000000  22.933333

C:\Users\Dell\AppData\Local\Temp\ipykernel_11288\782773333.py:1: FutureWarning: The provided callable <function mean at 0x00000165E7F2DE40> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  table = pd.pivot_table(df,index=['Sex','Survived','Pclass'],columns=['Embarked'],values=['Age'],aggfunc=np.mean,fill_value=np.mean(df['Age']))